<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import * as Tabs from "$lib/components/ui/tabs";

  $: value = $page.url.searchParams.get("tab") ?? "account";
</script>

<Tabs.Root
  class="w-[400px]"
  onValueChange={(value) => {
    goto(`?tab=${value}`, { replaceState: true });
  }}
  {value}
>
  <Tabs.List>
    <Tabs.Trigger value="account">Account</Tabs.Trigger>
    <Tabs.Trigger value="password">Password</Tabs.Trigger>
  </Tabs.List>
  <Tabs.Content value="account">
    Make changes to your account here.
  </Tabs.Content>
  <Tabs.Content value="password">Change your password here.</Tabs.Content>
</Tabs.Root>
